
<div class="container">
  
<h1>Iniciar sesión</h1>

<form [formGroup]="loginForm">
  <div>
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" />
      <mat-error>
        <ng-container *ngIf="loginForm.get('email')?.hasError('required')">
          Este campo es requerido
        </ng-container>
        <ng-container *ngIf="loginForm.get('email')?.hasError('email')">
          Formato email invalido.
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Contraseña</mat-label>
      <input formControlName="clave" matInput type="clave" />
      <mat-error>
        <ng-container *ngIf="loginForm.get('clave')?.hasError('required')">
          Este campo es requerido
        </ng-container>
<!--         <ng-container *ngIf="loginForm.get('email')?.hasError('email')">
          Formato email invalido.
        </ng-container> -->
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row justify-content-center my-4">
    <div class="col-md-6">
      <div class="text-center">
        <button (click)="login()" mat-flat-button color="primary">Iniciar sesión</button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="errorMessage != ''">
{{errorMessage}}
</div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-6 text-center">
      <a  (click)="registrate()" class="btn btn-link">Registrate</a>
    </div>
  </div>
</div>