<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> #. </th>
    <td mat-cell *matCellDef="let Alumno">
      {{Alumno.id}}
    </td>
  </ng-container>
  <!-- Nombre Completo  Column -->
  <ng-container matColumnDef="nombrecompleto">
    <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
    <td mat-cell *matCellDef="let Alumno">
      {{Alumno | nombreCompleto}}
    </td>
  </ng-container>
        <!-- Email  Column -->
  <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let Alumno">
         {{Alumno.email}}
      </td>
   </ng-container>
           <!-- dni  Column -->
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef> Dni </th>
    <td mat-cell *matCellDef="let Alumno">
       {{Alumno.dni}}
    </td>
 </ng-container>
  <!-- telefono  Column -->
<ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let Alumno">
     {{Alumno.telefono}}
    </td>
</ng-container>
 <!-- Acciones  Column -->
  <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let Alumno">
             <button
             (click)="eliminarAlumno.emit(Alumno.id)"
             mat-icon-button color="warn"
             *ngIf="(rol$ | async) === 'admin'"
             >
              <mat-icon>delete</mat-icon>
             </button>
             <button
             (click)="editarAlumno.emit(Alumno)"
             mat-icon-button color="primary"
             *ngIf="(rol$ | async) === 'admin'"
             >
              <mat-icon>edit</mat-icon>
             </button>
             <button
              [routerLink]="Alumno.id"
              mat-icon-button color="accent"
              >
              <mat-icon>visibility</mat-icon>
            </button>
      </td>
       </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


