<div class="container">
  <h1 class="text-center">Detalle del Curso</h1>

  <div class="card mx-auto" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h2 class="card-title">{{curso?.nombre}}</h2>
      <p class="card-text">Descripción: {{curso?.descripcion}}</p>
      <p class="card-text">Instructor: {{curso?.instructor}}</p>
      <p class="card-text">Precio Curso: {{curso?.costo}}</p>
      <!-- <p class="card-text">Precio Curso: ${{curso?.nivel}}</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

</div>
