
<div class="container">

  <div class="card mx-auto" style="width: 18rem;">
    <h2>Ficha del Alumno</h2>
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <p class="card-title">Nombre: {{alumno?.nombre}}</p>
      <p class="card-text">Apeliido:  {{alumno?.apellido}}</p>
      <p class="card-text">Email:  {{alumno?.email}}</p>
      <p class="card-text">Dni:  {{alumno?.dni}}</p>
      <p class="card-text">Telefono:  {{alumno?.telefono}}</p>
      <p class="card-text">Fecha Nacimiento:  {{alumno?.fechaNacimiento}}</p>
    </div>
  </div>

</div>
